h1 {
  color: $main-heading-color;
  margin: 8px 0;
}

p, li, input, button {
  font: normal 14px $main-font-stack;
  color: $main-body-color;
}

input {
  padding: 6px;
  font-size: 16px;
}

button, input[type="submit"] {
  padding: 6px;
  min-width: 48px;
  min-height: 48px;
}
