// Vendor prefix transitions
@mixin transition($property, $time, $effect) {
  -webkit-transition: $property $time $effect;
  -moz-transition: $property $time $effect;
  -o-transition: $property $time $effect;
  transition: $property $time $effect;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
