//.stad-list is the stadium list control
.stad-list {
  margin: 16px;
  padding: 0px;
  // background-color: transparentize($window-background-color, 0.3);
  // border: 1px solid $light-border;
  width: 250px;
}

.stad-list {
  input {
    width: 234px;
  }
}

.stad-list-ul {
  margin: 4px 0 0 0;
  padding: 4px 8px;
  background-color: transparentize($window-background-color, 0.3);
  border: 1px solid $light-border;
  p {
    font-size: 14px;
    line-height: 14px;
    margin: 4px 0px;
  }
  li {
    padding: 2px 0;
    list-style: none;
    border-bottom: 1px dotted $light-border;
    @include transition(background-color, 0.5s, ease);
  }
  li:hover {
    cursor: pointer;
    background-color: $hover-background-color;
  }
  li:last-child {
    border-bottom: none;
  }
}

.stad-list-name {
  font-weight: bold;
}

.stad-list-data {
  color: $secondary-body-color;
}

// Info window modules
.info-teams {
  color: $secondary-body-color;
  margin: 4px 0;
}
