//.stad-list is the stadium list control
.stad-list-control {
  margin: 16px;
  padding: 0px;
  width: 246px;
}

.stad-list-menu {
  width: 100%;
  margin-bottom: 4px;
}

.stad-list {
  margin: 4px 0 0 0;
  padding: 4px 8px;
  background-color: transparentize($window-background-color, 0.3);
  border: 1px solid $light-border;
}

.stad-list-ul {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  p {
    font-size: 14px;
    line-height: 14px;
    margin: 4px 0px;
  }
  li {
    padding: 2px;
    list-style: none;
    border-bottom: 1px dotted $light-border;
    @include transition(background-color, 0.5s, ease);
  }
  li:hover {
    cursor: pointer;
    background-color: $hover-background-color;
  }
  li:last-child, .stad-list-last {
    border-bottom: none;
  }
  @media screen and (max-height: 399px) {
    max-height: 150px;
  }
  @media screen and (min-height: 401px) {
    max-height: 300px;
  }
  @media screen and (min-height: 550px) {
    max-height: 380px;
  }
  @media screen and (min-height: 675px) {
    max-height: 500px;
  }
}

.stad-list-name {
  font-weight: bold;
}

.stad-list-data {
  color: $secondary-body-color;
}

// Search box module

.search-box {
  margin: 0;
  padding: 0;
  height: 36px;
  background: white;
  border: 2px solid $light-border;
  input {
    display: inline-block;
    margin: 0;
    outline: 0;
    width: 190px;
    line-height: 20px;
    border: none;
  }
}

.search-box-clear {
  display: inline-block;
  margin: 0;
  outline: 0;
  width: 40px;
  padding: 6px;
  font-size: 18px;
  line-height: 20px;
  min-width: 40px;
  min-height: 34px;
  background-color: white;
  border: none;
}

// Filters module
.stad-list-filters {
  margin: 4px 0 0 0;
  padding: 0;
  li {
    padding: 2px;
    margin: 0 4px 0 0;
    display: inline-block;
    list-style: none;
    max-width: 40px;
    max-height: 40px;
    border: 1px dotted $light-border;
    background-color: transparentize($window-background-color, 0.3);
  }
  li:hover {
    cursor: pointer;
  }
  li:last-child {
    margin-right: 0px;
  }
  img {
    max-width: 100%;
  }
}

// Info window modules
.info-teams {
  color: $secondary-body-color;
  margin: 4px 0;
}

.info-address {
  margin: 8px 0;
  p {
    margin: 4px 0;
  }
}

.info-photos {
  img {
    max-width: 100%;
  }
}

.info-articles {
  ul {
    padding: 0;
    li {
      margin: 4px 0px;
      list-style: none;
    }
  }
}

// Messages and error messages for the info window
.info-messages {
  @include border-radius(4px);
  border: 1px solid $secondary-body-color;
  background-color: $message-background;
  padding: 4px 8px;
  p {
    color: $secondary-body-color;
    margin: 4px 0;
    padding: 0;
  }
}

.info-errors {
  @include border-radius(4px);
  border: 1px solid $error-foreground;
  background-color: $error-background;
  padding: 4px 8px;
  ul {
    padding: 0;
    margin: 0;
    li {
      color: $error-foreground;
      list-style: none;
      margin: 4px 0;
    }
  }
}

// Main page error dialog
.error-dialog {
  margin: 100px auto;
  padding: 24px;
  border: 1px solid $error-foreground;
  background-color: $error-background;
  width: 400px;
  max-width: 80%;
  @include border-radius(8px);
}

.error-message {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: $error-foreground;
}
