//.stad-list is the stadium list control
.stad-list-control {
  margin: 16px;
  padding: 0px;
  width: 246px;
  input {
    width: 230px;
  }
}

.stad-list {
  margin: 4px 0 0 0;
  padding: 4px 8px;
  background-color: transparentize($window-background-color, 0.3);
  border: 1px solid $light-border;
}

.stad-list-ul {
  margin: 0;
  padding: 0;
  p {
    font-size: 14px;
    line-height: 14px;
    margin: 4px 0px;
  }
  li {
    padding: 2px;
    list-style: none;
    border-bottom: 1px dotted $light-border;
    @include transition(background-color, 0.5s, ease);
  }
  li:hover {
    cursor: pointer;
    background-color: $hover-background-color;
  }
  li:last-child, .stad-list-last {
    border-bottom: none;
  }
}

.stad-list-name {
  font-weight: bold;
}

.stad-list-data {
  color: $secondary-body-color;
}

// Filters module
.stad-list-filters {
  margin: 4px 0 0 0;
  padding: 0;
  li {
    padding: 2px;
    margin: 0 4px 0 0;
    display: inline-block;
    list-style: none;
    min-width: 40px;
    min-height: 40px;
    border: 1px dotted $light-border;
    background-color: transparentize($window-background-color, 0.3);
  }
  li:hover {
    cursor: pointer;
  }
  li:last-child {
    margin-right: 0px;
  }
}

// Info window modules
.info-teams {
  color: $secondary-body-color;
  margin: 4px 0;
}
