// Text colors
$main-heading-color: #232323;
$main-body-color: #333;
$secondary-body-color: #8e8e8e;

// Interface colors
$window-background-color: #fff;
$hover-background-color: rgba(11, 104, 254, 0.2);
$light-border: #cecece;
$message-background: #eaeaea;
$error-foreground: #c32e2e;
$error-background: #ffacac;

// Font-stacks
$main-font-stack: Helvetica, Arial, sans-serif;
